@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "main";
  src: url("/font/main-300.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "main";
  src: url("/font/main-400.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "main";
  src: url("/font/main-500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "main";
  src: url("/font/main-700.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "question";
  src: url("/font/question.ttf");
}

body {
  font-family: "main";
  font-size: 16px;
}
